body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colorButtons {
  display: block;
  margin: 20px 0;
}

canvas {
  cursor: crosshair;
  z-index: 8;
  border: 5px solid green;
}

div#sidebar {
  position: relative;
  top: 0;
  width: 200px;
  padding: 20px 20px;
  display: inline-block;
}

div#canvas {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  margin-bottom: 10px;
  width: 100%;
}
input {
  width: 100%;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.toolsButtons .btn {
  width: 48%;
}

.sizeButtons .btn {
  width: 48%;
}

.colorpicker {
  background: transparent;
  height: 40px;
}